


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.circle {
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
}

/* Style for active circle */
.circle.active {
  border-color: #007bff;
  background-color: #007bff;
  color: #fff;
}

.flightsMainBanner {
  color: #FFFFFF;
  font-family: Montserrat;
  width: 451px;
  height: 63px;
  font-size: 52px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  align-self: center;
  margin: 2%;
}

.flightsMainBanner-route {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: Montserrat;
}

.circleAfterHome {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
}

.centered-content {
  text-align: center;
}
/* Add your own styling for links */
.flightsMainBanner-route a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .bannerImageFlights {
    height: 300px;
  }
}


/* Existing styles... */

.banner-container {
  position: relative;
  overflow: hidden;
  display: flex; /* Arrange banner and content in a row */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.bannerImageFlights {
  width: 100%;
  height: 720px;
  position: absolute; /* Not absolute to keep its size in flow */
  z-index: -1;
  overflow: hidden; /* Hide any overflow from MainFilterCard */
}

.bannerImageFlights > img {
  width: 100%;
}

/* Rest of your styles... */

/* Mobile responsiveness */
@media (max-width: 768px) {
  .bannerImageFlights {
    height: 300px;
  }

  .banner-container {
    flex-direction: column; /* Stack elements on smaller screens */
  }
}
