.flightStopsDetails-container {
    padding: 10px;
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.flightStopsDetailsTop {
    display: flex;
}

.flightStopsDetailsTop-title {
    display: flex;
    flex-direction: column;
}

.flightStopsDetailsBody {
    display: flex;
    justify-content: space-evenly;
}

.flightStopsDetailsBody-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.flightStopsDetailsBody-leftJourney {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.layOverBar {
    display: flex;
    align-items: center;
    background-color: #F2FBFF;
    height: 42px;
    border-radius: 10px;
    padding-inline: 10px;
    column-gap: 5px;
    border: 1px solid #E1EDF2;
}

.flightTravelTime {
    color: var(--primary-color);
}