/* auth-layout.css */

.auth-layout {
  /* Add any additional styling for the layout container here */
}

.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
