.mainFilterCard {
    width: 80%;
    margin-inline: auto;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow) !important;
}

.flightData {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.flightTabContainer {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.flight-filterContainer {
    display: flex;
    justify-content: space-between;
}

.flight-filters {
    display: flex;
    column-gap: 5px;
}

.borderless-input .MuiInputBase-root::before,
.borderless-input .MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 8px;
    /* Adjust as needed */
}

.searchFlightBtn {
    text-transform: capitalize !important;
    border-radius: var(--border-radius) !important;
}

.tabSelector {
    display: flex !important;
    flex-direction: row !important;
    column-gap: 5px;
    margin-block: -10px !important;
    text-transform: capitalize !important;
    justify-content: center !important;
}

.mainFilterDropdown {
    border-radius: var(--border-radius) !important;
}

.mainFilterDropdown>.MuiSelect-select {
    padding-block: 6px;
}

/* .tabSelector.Mui-selected {
    color: var(--text-black) !important;
} */

/* For mobile view */
@media (max-width: 768px) {
    .mainFilterCard {
        width: 90%;
        /* Reduce width for better mobile layout */
        border-radius: 15px !important;
        /* Adjust border radius */
        box-shadow: 2px 2px 5px 1px #535353 !important;
        /* Adjust shadow */
    }

    .flightTabContainer {
        flex-direction: column;
        /* Stack content vertically on mobile */
    }

    .flight-filterContainer {
        flex-direction: column;
        /* Stack content vertically on mobile */
    }

    .flight-filters {
        flex-direction: column;
        /* Stack content vertically on mobile */
        row-gap: 5px;
        /* Add vertical spacing between items */
    }

    .borderless-input .MuiInputBase-root::before,
    .borderless-input .MuiOutlinedInput-notchedOutline {
        border: none;
        outline: none;
        background-color: transparent;
        padding-left: 8px;
    }

    .tabSelector {
        flex-direction: column !important;
        /* Stack tabs vertically on mobile */
        row-gap: 5px;
        /* Add vertical spacing between tabs */
    }
}