.mainFilterCard {
    width: 80%;
    margin-inline: auto;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow) !important;
}

.flightTabContainer {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.flight-filterContainer {
    display: flex;
    justify-content: space-between;
}

.flight-filters {
    display: flex;
    column-gap: 5px;
}

.borderless-input .MuiInputBase-root::before,
.borderless-input .MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 8px;
    /* Adjust as needed */
}

.tabSelector {
    display: flex !important;
    flex-direction: row !important;
    column-gap: 5px;
}

/* .tabSelector.Mui-selected {
    color: var(--text-black) !important;
} */

.date-input::-webkit-inner-spin-button,
.date-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}