/* Base styles */
.footerWrapper {
  width: 100%;
  min-height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 20px 0;
}

.footerInnerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footerInnerContainer > div {
  flex: 1;
  margin: 5px;
}

.footer-brandName {
  color: var(--primary-color);
}

.tabLinks {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-black);
}

/* Mobile view styles */
@media (max-width: 768px) {
  .footerInnerContainer {
    flex-direction: column;
  }

  .footerInnerContainer > div {
    margin: 10px 0;
    text-align: center;
  }

  /* Adjust font size for better readability on mobile */
  .footerWrapper span {
    font-size: 12px;
  }
}
