.footerWrapper {
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.footerInnerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-brandName {
    color: var(--primary-color);
}